.turnPageSpan{
	color:blue;
	cursor:pointer;
	text-decoration: underline;
}
#pageTurnDIv{
	margin-top:10px;
	text-align:center;
	font-family: Tahoma,Verdana,STHeiTi,simsun,sans-serif;
}
#basicInforTable{
border-collapse:collapse;border:none;
}
#basicInforTable td{
	border:solid #E9E9E9 1px;
}
a.sendMsg{
background: url(../img/icon_msg.png) no-repeat 0px -0px;
display: inline-block;
width: 80px;
height: 25px;
margin-left: 4px;
vertical-align: middle;
color: #2095C6;
cursor: pointer;
opacity: 1;
}
a.sendMsg:hover{
	opacity: 0.75;
	background: url(../img/icon_msg.png) no-repeat -88px -0px;
}
.toDetailDiv span{
	margin-left: 15px;
}